################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PruebaCrecerAPI/PruebaCrecerAPI.BLL/obj
/PruebaCrecerAPI/PruebaCrecerAPI.BLL/bin/Debug/net6.0
/PruebaCrecerAPI/PruebaCrecerAPI.Models/bin/Debug/net6.0/PruebaCrecerAPI.Models.dll
/PruebaCrecerAPI/PruebaCrecerAPI.Models/bin/Debug/net6.0/PruebaCrecerAPI.Models.pdb
/PruebaCrecerAPI/PruebaCrecerAPI.Models/obj/Debug/net6.0/ref/PruebaCrecerAPI.Models.dll
/PruebaCrecerAPI/.vs/ProjectEvaluation/pruebacrecerapi.metadata.v5.2
/PruebaCrecerAPI/.vs/ProjectEvaluation/pruebacrecerapi.projects.v5.2
/PruebaCrecerAPI/.vs/PruebaCrecerAPI/DesignTimeBuild/.dtbcache.v2
/PruebaCrecerAPI/.vs/PruebaCrecerAPI/FileContentIndex/fb989758-2b8e-4f41-b92a-f69af33dd12f.vsidx
/PruebaCrecerAPI/.vs/PruebaCrecerAPI/FileContentIndex/b5a00ae3-4d35-4148-ba54-9a004e2d8fe1.vsidx
/PruebaCrecerAPI/.vs/PruebaCrecerAPI/FileContentIndex/93cea7c9-365f-42f6-a6dc-a0824c74000b.vsidx
/PruebaCrecerAPI/.vs/PruebaCrecerAPI/FileContentIndex/8615b471-515c-422f-b197-caaf3017c5e8.vsidx
/PruebaCrecerAPI/.vs/PruebaCrecerAPI/FileContentIndex/81362a6c-0cd6-41bf-9888-2b403896ca89.vsidx
/PruebaCrecerAPI/.vs/PruebaCrecerAPI/FileContentIndex/78bc79d3-9de6-4dba-926e-ca0d05f460da.vsidx
/PruebaCrecerAPI/.vs/PruebaCrecerAPI/FileContentIndex/50e551dd-b739-4bb4-8fa3-d48eba6fb4ea.vsidx
/PruebaCrecerAPI/.vs/PruebaCrecerAPI/FileContentIndex/0924449c-3f64-4630-a8f9-8468f0cc9aa5.vsidx
/PruebaCrecerAPI/.vs/PruebaCrecerAPI/v17/TestStore/0/testlog.manifest
/PruebaCrecerAPI/.vs/PruebaCrecerAPI/v17/TestStore/0/002.testlog
/PruebaCrecerAPI/.vs/PruebaCrecerAPI/v17/TestStore/0/000.testlog
/PruebaCrecerAPI/.vs/PruebaCrecerAPI/v17/.suo
/PruebaCrecerAPI/.vs/PruebaCrecerAPI/v17/.futdcache.v2
/PruebaCrecerAPI/PruebaCrecerAPI.Models/obj/Debug/net6.0/refint/PruebaCrecerAPI.Models.dll
/PruebaCrecerAPI/PruebaCrecerAPI.Models/obj/Debug/net6.0/PruebaCrecerAPI.Models.pdb
/PruebaCrecerAPI/PruebaCrecerAPI.Models/obj/Debug/net6.0/PruebaCrecerAPI.Models.dll
/PruebaCrecerAPI/PruebaCrecerAPI.Models/obj/Debug/net6.0/PruebaCrecerAPI.Models.csproj.CoreCompileInputs.cache
/PruebaCrecerAPI/PruebaCrecerAPI.DAL/bin/Debug/net6.0/PruebaCrecerAPI.Models.pdb
/PruebaCrecerAPI/PruebaCrecerAPI.DAL/bin/Debug/net6.0/PruebaCrecerAPI.Models.dll
/PruebaCrecerAPI/PruebaCrecerAPI.DAL/bin/Debug/net6.0/PruebaCrecerAPI.DAL.pdb
/PruebaCrecerAPI/PruebaCrecerAPI.DAL/bin/Debug/net6.0/PruebaCrecerAPI.DAL.dll
/PruebaCrecerAPI/PruebaCrecerAPI.DAL/Class1.cs
/PruebaCrecerAPI/PruebaCrecerAPI.DAL/obj/Debug/net6.0/refint/PruebaCrecerAPI.DAL.dll
/PruebaCrecerAPI/PruebaCrecerAPI.DAL/obj/Debug/net6.0/ref/PruebaCrecerAPI.DAL.dll
/PruebaCrecerAPI/PruebaCrecerAPI.DAL/obj/Debug/net6.0/PruebaCrecerAPI.DAL.pdb
/PruebaCrecerAPI/PruebaCrecerAPI.DAL/obj/Debug/net6.0/PruebaCrecerAPI.DAL.dll
/PruebaCrecerAPI/PruebaCrecerAPI.DAL/obj/Debug/net6.0/PruebaCrecerAPI.DAL.csproj.FileListAbsolute.txt
/PruebaCrecerAPI/PruebaCrecerAPI.DAL/obj/Debug/net6.0/PruebaCrecerAPI.DAL.csproj.CoreCompileInputs.cache
/PruebaCrecerAPI/PruebaCrecerAPI.DAL/obj/Debug/net6.0/PruebaCrecerAPI.DAL.csproj.AssemblyReference.cache
/PruebaCrecerAPI/PruebaCrecerAPI.WebAPI/bin/Debug/net6.0/PruebaCrecerAPI.WebAPI.pdb
/PruebaCrecerAPI/PruebaCrecerAPI.WebAPI/bin/Debug/net6.0/PruebaCrecerAPI.WebAPI.dll
/PruebaCrecerAPI/PruebaCrecerAPI.WebAPI/bin/Debug/net6.0/PruebaCrecerAPI.WebAPI.deps.json
/PruebaCrecerAPI/PruebaCrecerAPI.WebAPI/bin/Debug/net6.0/PruebaCrecerAPI.Models.pdb
/PruebaCrecerAPI/PruebaCrecerAPI.WebAPI/bin/Debug/net6.0/PruebaCrecerAPI.Models.dll
/PruebaCrecerAPI/PruebaCrecerAPI.WebAPI/bin/Debug/net6.0/PruebaCrecerAPI.DAL.pdb
/PruebaCrecerAPI/PruebaCrecerAPI.WebAPI/bin/Debug/net6.0/PruebaCrecerAPI.DAL.dll
/PruebaCrecerAPI/PruebaCrecerAPI.WebAPI/bin/Debug/net6.0/PruebaCrecerAPI.BLL.pdb
/PruebaCrecerAPI/PruebaCrecerAPI.WebAPI/bin/Debug/net6.0/PruebaCrecerAPI.BLL.dll
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/bin/Debug/net6.0/PruebaCrecerAPI.WebAPI.pdb
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/bin/Debug/net6.0/PruebaCrecerAPI.WebAPI.dll
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/bin/Debug/net6.0/PruebaCrecerAPI.WebAPI.deps.json
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/bin/Debug/net6.0/PruebaCrecerAPI.Tests.pdb
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/bin/Debug/net6.0/PruebaCrecerAPI.Tests.dll
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/bin/Debug/net6.0/PruebaCrecerAPI.Tests.deps.json
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/bin/Debug/net6.0/PruebaCrecerAPI.Models.pdb
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/bin/Debug/net6.0/PruebaCrecerAPI.Models.dll
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/bin/Debug/net6.0/PruebaCrecerAPI.DAL.pdb
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/bin/Debug/net6.0/PruebaCrecerAPI.DAL.dll
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/bin/Debug/net6.0/PruebaCrecerAPI.BLL.pdb
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/bin/Debug/net6.0/PruebaCrecerAPI.BLL.dll
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/bin/Debug/net6.0/CoverletSourceRootsMapping
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/obj/Debug/net6.0/ref/PruebaCrecerAPI.Tests.dll
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/obj/Debug/net6.0/refint/PruebaCrecerAPI.Tests.dll
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/obj/Debug/net6.0/PruebaCrecerAPI.Tests.pdb
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/obj/Debug/net6.0/PruebaCrecerAPI.Tests.dll
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/obj/Debug/net6.0/PruebaCrecerAPI.Tests.csproj.FileListAbsolute.txt
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/obj/Debug/net6.0/PruebaCrecerAPI.Tests.csproj.CoreCompileInputs.cache
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/obj/Debug/net6.0/PruebaCrecerAPI.Tests.csproj.AssemblyReference.cache
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/obj/Debug/net6.0/PruebaCrecerAPI.Tests.assets.cache
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/obj/PruebaCrecerAPI.Tests.csproj.nuget.dgspec.json
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/obj/PruebaCrecerAPI.Models.csproj.nuget.g.targets
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/obj/PruebaCrecerAPI.Models.csproj.nuget.g.props
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/obj/PruebaCrecerAPI.Models.csproj.nuget.dgspec.json
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/obj/project.nuget.cache
/PruebaCrecerAPI/PruebaCrecerAPI.Tests/obj/project.assets.json
/PruebaCrecerAPI/PruebaCrecerAPI.WebAPI/obj/Debug/net6.0/ref/PruebaCrecerAPI.WebAPI.dll
/PruebaCrecerAPI/PruebaCrecerAPI.WebAPI/obj/Debug/net6.0/refint/PruebaCrecerAPI.WebAPI.dll
/PruebaCrecerAPI/PruebaCrecerAPI.WebAPI/obj/Debug/net6.0/PruebaCrecerAPI.WebAPI.pdb
/PruebaCrecerAPI/PruebaCrecerAPI.WebAPI/obj/Debug/net6.0/PruebaCrecerAPI.WebAPI.MvcApplicationPartsAssemblyInfo.cs
/PruebaCrecerAPI/PruebaCrecerAPI.WebAPI/obj/Debug/net6.0/PruebaCrecerAPI.WebAPI.dll
/PruebaCrecerAPI/PruebaCrecerAPI.WebAPI/obj/Debug/net6.0/PruebaCrecerAPI.WebAPI.csproj.FileListAbsolute.txt
/PruebaCrecerAPI/PruebaCrecerAPI.WebAPI/obj/Debug/net6.0/PruebaCrecerAPI.WebAPI.csproj.CoreCompileInputs.cache
/PruebaCrecerAPI/PruebaCrecerAPI.WebAPI/obj/Debug/net6.0/PruebaCrecerAPI.WebAPI.csproj.AssemblyReference.cache
/PruebaCrecerAPI/PruebaCrecerAPI.WebAPI/obj/PruebaCrecerAPI.WebAPI.csproj.nuget.dgspec.json
/PruebaCrecerAPI/PruebaCrecerAPI.WebAPI/obj/project.nuget.cache
/PruebaCrecerAPI/PruebaCrecerAPI.WebAPI/obj/project.assets.json
